# Node modules
node_modules/

# Build output
build/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# IDEs and Editors
.vscode/
.idea/

# Temporary files
*.swp
*.swo

# Jest coverage
coverage/

# React Native
.expo/
